<div class="j-header">
  <div class="name">
    <h1>Journal of Civil, Structural and Transportation Engineering (JCSTE)<!-- <br>
    <p class="body">ISSN: 2368-5964</p> --></h1>
    <div class="oalink">
    <a href="/openaccess" target="blank" title="Avestia's Open Access">
          <img src="img/j-oa.png" border="0" onmouseover="this.src='img/j-oa-hover.png'" onmouseout="this.src='img/j-oa.png'" class="j-oa">
    </a>
	</div>
  </div>

    <img src="img/journals/j-jcste.jpg" class="j-img">
</div>